# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.cache
*.pyo

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
.eggs/

# Pytest
.pytest_cache/

# VSCode
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Docker
*.pid
*.log

# Docsify cache
docs/.cache/

# Jupyter Notebook
.ipynb_checkpoints/

# System files
Thumbs.db
